// Fonts
$fontPrincipal: "Roboto", sans-serif;

// Colors
$bodyBGC: #f5f6fa;
$headerBGC: #182C61;
$fontColorPrincipal: #fff;
$buttonBGC: #44bd32;
$buttonHoverBGC: #4cd137;

// Breakpoints
$mediaTablet: 1024px;
$mediaMobile: 768px;
$containerWidth: 1024px;

